.PageContainer {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  background-color: #f8f1ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TopBar {
  display: flex;
  flex-direction: row;
  padding-top: 3vh;
  align-items: space-between;
}

.LogoContainer {
  display: flex;
  flex-direction: row;
  font-size: min(15vw, 15vh);
  align-self: center;
}

.LeftLogoText {
  font-weight: 200;
  color: #a46ddb;
}

.RightLogoText {
  font-weight: 200;
  color: #908789;
}

.TRButtonContainer {
  width: max(10vw, 15vh);
  align-self: center;
  position: absolute;
  right: 2%;
}

.TopRightButton {
  color: #a46ddb !important;
  border-color: #a46ddb !important;
}

.TopRightButton:active,
.TopRightButton:hover {
  background-color: #a46ddb !important;
  color: #f8f1ff !important;
}

.TopRightButton:focus { 
  box-shadow: none !important;
}

.BodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  min-height: 5vh;
}

.ProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  min-height: 5vh;
  width: max(30vw, 40vh);
  align-items: flex-start;
}


.NameContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: #A46DDB;
  font-size: min(4vw, 4vh);
  min-height: 5vh;
}

.EmailContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: #A46DDB;
  font-size: min(4vw, 4vh);
}

.FriendsText {
  color: #A46DDB;
  font-size: min(4vw, 4vh);
}

.FriendsContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: #A46DDB;
  font-size: min(5vw, 5vh);
  min-width: 100%;
  min-height: 20vh;
}

.FriendsBox {
  min-height: 100%;
}
.AMButtonContainer {
  display: flex;
  flex-direction: column;
  width: max(15vw, 20vh);
  padding-top: 1vh
}

.AllMessagesButton {
  color: #a46ddb !important;
  border-color: #a46ddb !important;
  background-color: #f8f1ff !important;
}

.AllMessagesButton:active,
.AllMessagesButton:hover {
  background-color: #a46ddb !important;
  color: #f8f1ff !important;
}

.LogoutButtonContainer {
  display: flex;
  flex-direction: column;
  width: max(10vw, 15vh);
  padding-top: 1vh;
}

.LogoutButton {
  color: #a46ddb !important;
  border-color: #a46ddb !important;
  background-color: #f8f1ff !important;
}

.LogoutButton:active,
.LogoutButton:hover {
  background-color: #a46ddb !important;
  color: #f8f1ff !important;
}