.PageContainer {
  text-align: center;
  background-color: #f8f1ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TopBar {
  display: flex;
  flex-direction: row;
  padding-top: 3vh;
  padding-bottom: 10vh;
  align-items: space-between;
}

.LogoContainer {
  display: flex;
  flex-direction: row;
  font-size: min(15vw, 15vh);
  align-self: center;
}

.LeftLogoText {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  color: #a46ddb;
}

.RightLogoText {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  color: #908789;
}

.TRButtonContainer {
  width: max(10vw, 15vh);
  align-self: center;
  position: absolute;
  right: 2%; 
}

.TopRightButton {
  color: #A46DDB !important;
  border-color: #A46DDB !important;
}

.TopRightButton:hover {
  background-color: #A46DDB !important;
  color: #f8f1ff !important;
}

.BodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: red;
  min-height: 40vh;
}